<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Coworking Rooms</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Template Main CSS File -->
  <link href="static/css/styles.css" rel="stylesheet">
</head>

<body>
    <form method="POST" action="/create_booking">  
        <div class="form-row">
            <div class="form-group col-3 mx-auto">
                <label for="roomId">Room Id</label>
                <select id="roomId" name="roomId" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                </select>
            </div>
        </div>
        <div class="form-row"></div>
            <div class="form-group col-3 mx-auto">
                <label for="clientId">Client Id</label>
                <input type="text" class="form-control"  name="clientId"id="clientId">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mx-auto">
                <label for="date">Date</label>
                <input type="date" class="form-control" name="date" id="date" name="date">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mx-auto">
                <label for="startTime">Start Time</label>
                <input type="time" class="form-control" name="startTime" id="startTime" name="time">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mx-auto">
                <label for="endTime">End Time</label>
                <input type="time" class="form-control" name="endTime" id="endTime" name="time">
            </div>
        </div>

        
        <div class="form-row">
            <div class="col-md-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-light">Find Your Room</button>
            </div>
        </div>
        
      </form>
</body>